language: csharp

# Update Mono to latest snapshot
before_install:
  - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
  - echo "deb http://jenkins.mono-project.com/repo/debian sid main" | sudo tee /etc/apt/sources.list.d/mono-jenkins.list
  - sudo apt-get update -qq && sudo apt-get install -y mono-snapshot-latest && . mono-snapshot mono
  - MONO_PATH=`echo /opt/mono-*/lib/mono` && sudo ln -s Mono/2.0 $MONO_PATH/2.0 && sudo ln -s Mono/xbuild-frameworks/.NETFramework/v3.5 $MONO_PATH/xbuild-frameworks/.NETFramework/v3.5

# Add build number to version
before_script: sed -ri "s/VersionNumber\((.*), 0\)/VersionNumber(\1, $TRAVIS_BUILD_NUMBER)/g" Oxide.Core/OxideMod.cs

# Build the project
solution: Oxide.sln

# Run deployment script
after_success: "[[ $TRAVIS_PULL_REQUEST == false ]] && [[ $TRAVIS_REPO_SLUG == OxideMod/Oxide ]] && [[ $TRAVIS_BRANCH == master ]] && ./deploy.sh"

notifications:
  # Disable build status email notifications, until the issue with forks is fixed
  email: false
  # Slack (oxidemod.slack.com)
  slack:
    rooms:
      secure: "bmk8bmBzIOjuCR4qs5zx+SypIqLFR0QqXmd04mUohaLpAp1lJ5JQiOgKAcQPz0sqdUlu2ZAWjDT2brx0/DPssBJnQOTdKcWhYdp6n70oqXA/tvSj0FLSrZyFJjldI5okqkqGXkOdaees5mqWxEYVJEP/BjgVsDd+JvTuV5jGXlc="
  # IRC notification
  irc: "chat.freenode.net#oxidemod"

# Environmental system variables
env:
  global:
    # Super secure, encrypted variables! Ssssh!
    - secure: "kSoJS+nEC76WI0rQC/FLnq0mlbC5Y6dx6//mF4VLfCPVKB16pZ8bFQCybrXhb6oVRjOcKTGFbMV2SgdHcwhpec8yJ8dP4hR81n6xNSY1Y5S/V0KQ6QUehUgoz0xClr6VgVMnTY19kjGBX4Zol3W5LYIZJbx5C1h3TD8yy8RvirM="
