<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageSources>

    <add key="Oxide.Core" value="https://ci.appveyor.com/nuget/oxide-core" />

    <add key="Oxide.Unity" value="https://ci.appveyor.com/nuget/oxide-unity" />

  </packageSources>

</configuration>
